<div ng-repeat="mt4Server in entity.mt4Servers|orderBy: 'mt4ServerType'">
    <h4 class="text-center">{{mt4Server.mt4ServerType}}</h4>

    <div class="row form-group" ng-class="{'has-error': editForm.bridgeIp.$invalid && editForm.bridgeIp.$dirty}">
        <div class="col-sm-3">
            <label class="control-label">{{"ActiveMQ Host"|translate}}</label>
        </div>
        <div class="col-sm-9">
            <input name="bridgeIp" class="form-control" ng-model="mt4Server.bridgeIp" ng-trim="true"/>
        </div>
    </div>

    <div class="row form-group" ng-class="{'has-error': editForm.bridgePort.$invalid && editForm.bridgePort.$dirty}">
        <div class="col-sm-3">
            <label class="control-label">{{"ActiveMQ Port"|translate}}</label>
        </div>
        <div class="col-sm-9">
            <input name="bridgePort" type="number" class="form-control" ng-model="mt4Server.bridgePort" ng-trim="true"/>
        </div>
    </div>

    <div class="row form-group" ng-class="{'has-error': editForm.bridgeUsername.$invalid && editForm.bridgeUsername.$dirty}">
        <div class="col-sm-3">
            <label class="control-label">{{"ActiveMQ Username"|translate}}</label>
        </div>
        <div class="col-sm-9">
            <input name="bridgeUsername" class="form-control" ng-model="mt4Server.bridgeUsername" ng-trim="true"/>
        </div>
    </div>

    <div class="row form-group" ng-class="{'has-error': editForm.bridgePassword.$invalid && editForm.bridgePassword.$dirty}">
        <div class="col-sm-3">
            <label class="control-label">{{"ActiveMQ Password"|translate}}</label>
        </div>
        <div class="col-sm-9">
            <input name="bridgePassword" class="form-control" ng-model="mt4Server.bridgePassword" ng-trim="true"/>
        </div>
    </div>

    <div class="row form-group" ng-class="{'has-error': editForm.timezone.$invalid && editForm.timezone.$dirty}">
        <div class="col-sm-3">
            <label class="control-label">{{"Timezone"|translate}}</label>
        </div>
        <div class="col-sm-9">
            <select name="timezone" class="form-control" ng-options="k for k in timezones"
                    ng-model="mt4Server.timezone"></select>
        </div>
    </div>

    <div class="row form-group" ng-class="{'has-error': editForm.active.$invalid && editForm.active.$dirty}">
        <div class="col-sm-3">
            <label class="control-label" for="active">{{"Active"|translate}}*</label>
        </div>
        <div class="col-sm-9">
            <div name="active" id="active" class="btn-group">
                <button type="button" class="btn btn-primary" ng-model="mt4Server.active"
                        uib-btn-radio="true">
                    {{"Yes"|translate}}
                </button>
                <button type="button" class="btn btn-primary" ng-model="mt4Server.active"
                        uib-btn-radio="false">
                    {{"No"|translate}}
                </button>
            </div>
        </div>
    </div>

    <hr ng-show="!$last"/>
</div>