<div ng-controller="JobDefinitionsController">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="heading"><a ng-href="#!/user/team/{{team.id}}/home">{{team.name}}</a> - {{"Job Definitions"|translate}}</h4>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-3" style="margin-bottom: 10px">
                    <button type="button" style="width: 100%" class="btn btn-warning" ng-click="back()">
                        <span class="glyphicon glyphicon-arrow-left"></span> {{'Back'|translate}}
                    </button>
                </div>
            </div>
        </div>
        <div class="tbl-wrap">
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th>{{"Name"|translate}}</th>
                <th>{{"Job Type"|translate}}</th>
                <th>{{"Assignee"|translate}}</th>
                <th>{{"Last Update"|translate}}</th>
                <th>{{"Edit"|translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entity in entities | orderBy: ['jobDefinition.jobType', 'jobDefinition.name']">
                <td style="vertical-align: middle" ng-class="{'text-success':entity.jobDefinition.jobDefinitionType!='User Defined'}">
                    {{entity.jobDefinition.name}}
                </td>
                <td style="vertical-align: middle">{{entity.jobDefinition.jobType}}</td>
                <td style="vertical-align: middle">{{entity.supervisor.label}}</td>
                <td style="vertical-align: middle">{{entity.created|formattedTime}}</td>
                <td>
                    <button type="button" class="btn btn-primary" ng-click="edit(entity)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5">
                    <button type="button" class="btn btn-success"
                            ng-click="create()">
                        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            </tfoot>
        </table>
        </div>
    </div>
</div>
