<div ng-controller="JobDefinitionController">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="heading">{{jobDefinition.team.name}} - </h4>
            <h4 class="heading" ng-if="jobDefinition.id">{{jobDefinition.name}}</h4>
            <h4 class="heading" ng-if="jobDefinition && !jobDefinition.id">{{"New Job Definition"|translate}}</h4>
        </div>
    </div>

    <div class="panel-body">
        <form novalidate role="form" name="editForm" ng-submit="save()">
            <div class="row form-group" ng-class="{'has-error': editForm.name.$invalid && editForm.name.$dirty}">
                <div class="col-sm-2">
                    <label class="control-label" for="name">{{"Name"|translate}}*</label>
                </div>
                <div class="col-sm-10">
                    <input id="name" name="name" class="form-control" required ng-model="jobDefinition.name"/>
                </div>
            </div>

            <div class="row form-group"
                 ng-class="{'has-error': editForm.supervisor.$invalid && editForm.supervisor.$dirty}">
                <div class="col-sm-2">
                    <label class="control-label"
                           for="supervisor">{{"Supervisor"|translate}}*</label>
                </div>
                <div class="col-sm-10">
                    <select name="supervisor" id="supervisor" class="form-control" required
                            ng-options="k.label for k in users"
                            ng-model="jobDefinitionVersion.supervisor">
                    </select>
                </div>
            </div>

            <div class="row form-group" ng-class="{'has-error': editForm.jobType.$invalid && editForm.jobType.$dirty}">
                <div class="col-sm-2">
                    <label class="control-label" for="jobType">{{"Job Type"|translate}}*</label>
                </div>
                <div class="col-sm-10">
                    <select name="jobType" id="jobType" class="form-control" required
                            ng-options="k.label as k.label for k in jobTypes"
                            ng-model="jobDefinition.jobType">
                    </select>
                </div>
            </div>

            <div class="row form-group"
                 ng-class="{'has-error': editForm.description.$invalid && editForm.description.$dirty}">
                <div class="col-sm-2">
                    <label class="control-label"
                           for="description">{{"Job Description"|translate}}*</label>
                </div>
                <div class="col-sm-10">
                <textarea id="description" name="description" rows="5" required class="form-control"
                          ng-model="jobDefinitionVersion.description"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h3>{{"Tasks"|translate}}</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-striped table-hover table-responsive">
                        <thead>
                        <tr>
                            <th>{{"Task Name"|translate}}*</th>
                            <th>{{"Description"|translate}}*</th>
                            <th>{{"Assignee"|translate}}*</th>
                            <th ng-show="taskDescriptions.length>1"></th>
                            <th>{{"Remove"|translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="task in taskDescriptions | orderBy: ['priority']">
                            <td style="vertical-align: middle">
                                <input class="form-control" required ng-model="task.name"/>
                            </td>
                            <td style="vertical-align: middle">
                                <input class="form-control" required ng-model="task.description"/>
                            </td>
                            <td style="vertical-align: middle">
                                <select class="form-control" required
                                        ng-options="k.label for k in users"
                                        ng-model="task.assignee">
                                </select>
                            </td>
                            <td class="text-center text-primary" ng-show="taskDescriptions.length>1">
                                <span class="glyphicon glyphicon-chevron-up clickable" ng-show="!$first"
                                  ng-click="moveUp(task,taskDescriptions)"></span><br/>
                                <span class="glyphicon glyphicon-chevron-down clickable" ng-show="!$last"
                                      ng-click="moveDown(task, taskDescriptions)"></span>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger"
                                        ng-click="remove(task, taskDescriptions)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="4">
                                <button type="button" class="btn btn-success" ng-click="taskDescriptions.push({})">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div class="row">
                <div solar-crud-buttons=""></div>
            </div>
        </form>
    </div>
</div>