<div ng-controller="SystemAdminConfigurationsController">
    <div class="panel panel-info">
        <div class="panel-heading text-center"><strong class="heading">{{'Configurations'|translate}}</strong></div>
        <table class="table table-striped table-hover table-responsive">
            <thead ng-show="entities.length">
            <tr>
                <th class="col-sm-6">{{'Name'|translate}}</th>
                <th class="col-sm-4">{{'Value'|translate}}</th>
                <th>{{'Edit'|translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entity in entities|orderBy:['key']">
                <td style="vertical-align: middle">{{entity.key}}</td>
                <td style="vertical-align: middle">{{entity.value}}</td>
                <td>
                    <button type="button" class="btn btn-primary" ng-click="edit(entity)">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3">
                    <button type="button" class="btn btn-success"
                            ng-click="create()">
                        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
