<div ng-controller="FundHistoryController">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="heading">{{"Fund History"|translate}}</h4>
        </div>
        <div class="panel-body">
            <form novalidate role="form" name="editForm" ng-submit="search()">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row form-group" ng-class="{'has-error': editForm.fundType.$invalid && editForm.fundType.$dirty}">
                            <div class="col-sm-12">
                                <label class="control-label" for="fundType">{{"Fund Type"|translate}}</label>
                            </div>
                            <div class="col-sm-12">
                                <select id="fundType" name="fundType" class="form-control" ng-model="entity.fundType"
                                        ng-options="option.label|translate as option.label|translate for option in view.fundTypes">
                                    <option value="">{{'All'|translate}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <label class="control-label" for="account">{{"Account"|translate}}</label>
                            </div>
                            <div class="col-sm-12">
                                <select id="account" name="account" class="form-control" ng-model="entity.account"
                                        ng-options="option|translate for option in view.accountList">
                                    <option value="">{{'All'|translate}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <label class="control-label" for="startDate">{{"Start Date"|translate}}*</label>
                            </div>
                            <div class="col-sm-12">
                                <p class="input-group">
                                    <input id="startDate" name="startDate" type="text" class="form-control" uib-datepicker-popup
                                           ng-model="entity.startDate" is-open="startDate.opened" datepicker-options="dateOptions" ng-required="true" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="startDate.opened=true"><img src="../../../images/icon-calender-sml.png"></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <label class="control-label" for="endDate">{{"End Date"|translate}}</label>
                            </div>
                            <div class="col-sm-12">
                                <p class="input-group">
                                    <input id="endDate" name="endDate" type="text" class="form-control" uib-datepicker-popup
                                           ng-model="entity.endDate" is-open="endDate.opened" datepicker-options="dateOptions"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="endDate.opened=true"><img src="../../../images/icon-calender-sml.png"></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <button class="cbtn-search" type="submit" ng-disabled="editForm.$invalid">
                            <i class="fa fa-search" aria-hidden="true"></i> {{'Search'|translate}}
                        </button>
                    </div>
                </div>
            </form>

            <div class="row spacer-top" ng-show="result">
                <div class="col-sm-12">
                    <div class="tbl-wrap">
                    <table class="table table-striped table-hover table-responsive">
                        <thead>
                        <tr>
                            <th>{{'Date'|translate}}</th>
                            <th>{{'Fund Type'|translate}}</th>
                            <th>{{'Account'|translate}}</th>
                            <th>{{'To Account'|translate}}</th>
                            <th>{{'Amount'|translate}}</th>
                            <th>{{'Status'|translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="record in result.records|orderBy: ['-date', '-id']">
                            <td style="vertical-align: middle">{{record.date|formattedDate}}</td>
                            <td style="vertical-align: middle">{{record.fundType|translate}}</td>
                            <td style="vertical-align: middle">{{record.accountFrom}}</td>
                            <td style="vertical-align: middle">
                                <span ng-if="record.accountTo">{{record.accountTo}}</span>
                                <span ng-if="!record.accountTo">-</span>
                            </td>
                            <td style="vertical-align: middle">{{record.amount|number:2}}</td>
                            <td style="vertical-align: middle">{{record.jobStatus}}</td>
                        </tr>
                        </tbody>
                        <tfoot ng-if="records && !records.length">
                        <tr>
                            <td colspan="5" class="text-center text-muted">
                                {{'No records found.'|translate}}
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>