<div ng-controller="CommissionAdminController">
    <form novalidate role="form" name="editForm" ng-submit="save()">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="heading" ng-if="entity.id">{{entity.name}}</h4>
                <h4 class="heading" ng-if="!entity.id">{{"New Commission Definition"|translate}}</h4>
            </div>
            <div class="panel-body">
                <div class="row form-group">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="control-label" for="name">{{"Name"|translate}}*</label>
                            </div>
                            <div class="col-sm-12">
                                <input id="name" name="name" class="form-control" required ng-model="entity.name">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="control-label" for="mt4Groups">{{"MT4 Group"|translate}}*</label>
                            </div>
                            <div class="col-sm-12">
                                <select id="mt4Groups" name="mt4Groups" class="form-control" ng-model="entity.mt4GroupName"
                                        ng-required="true"
                                        ng-options="item for item in view.mt4Groups">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="control-label" for="levels">{{"Levels"|translate}}*</label>
                            </div>
                            <div class="col-sm-12">
                                <select id="levels" name="levels" class="form-control" ng-model="params.levels"
                                        ng-required="true"
                                        ng-options="item for item in levels">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="control-label" for="workGroup">{{"Work Group"|translate}}</label>
                            </div>
                            <div class="col-sm-12">
                                <select id="workGroup" name="workGroup" class="form-control" ng-model="entity.workGroup"
                                        ng-options="item.name for item in view.workGroups">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="control-label" for="symbol">{{"Symbol"|translate}}</label>
                            </div>
                            <div class="col-sm-12">
                                <input id="symbol" name="symbol" class="form-control" ng-model="entity.symbol">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="control-label">{{"Total Portal Weight"|translate}}</label>
                            </div>
                            <div class="col-sm-6">
                                {{sumWeight.portalWeight}}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="control-label">{{"Total Commission Weight"|translate}}</label>
                            </div>
                            <div class="col-sm-6">
                                {{sumWeight.commissionWeight}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="row" ng-repeat="commissionLevelDefinitions in entityGroups">
                    <div class="col-sm-12">
                        <table class="table table-striped table-responsive">
                            <tbody>
                            <tr>
                                <th style="vertical-align: middle" class="col-sm-2 bg-success">{{'Level'|translate}}</th>
                                <th ng-repeat="definition in commissionLevelDefinitions"
                                    class="col-sm-2 text-primary bg-success">
                                    <span ng-show="definition.level">{{'Level'|translate}} - {{definition.level}}</span>
                                    <span ng-show="!definition.level">{{'Master IB'|translate}}</span>
                                </th>
                                <th class="bg-success"></th>
                            </tr>
                            <tr>
                                <th style="vertical-align: middle" class="col-sm-2">{{'Category'|translate}}</th>
                                <td ng-repeat="definition in commissionLevelDefinitions">
                                    <select class="form-control" ng-model="definition.workGroupCategory" required
                                            ng-options="item.label as item.label for item in view.workGroupCategories">
                                    </select>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <th style="vertical-align: middle" class="col-sm-2">{{'Portal Weight'|translate}}</th>
                                <td ng-repeat="definition in commissionLevelDefinitions">
                                    <input class="form-control" type="number" ng-model="definition.portalWeight" ng-change="calculateWeight()">
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <th style="vertical-align: middle" class="col-sm-2">{{'Commission Weight'|translate}}</th>
                                <td ng-repeat="definition in commissionLevelDefinitions">
                                    <input class="form-control" type="number" ng-model="definition.commissionWeight" ng-change="calculateWeight()">
                                </td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div solar-crud-buttons ng-init="cancelable=true"></div>
            </div>
        </div>
    </form>
</div>