<div ng-controller="ExchangeRatesController">
    <div class="panel panel-info">
        <div class="panel-heading"><h4 class="heading">{{'Exchange Rates'|translate}}</h4></div>
        <div class="panel-body" ng-show="view.exchangeRates.length">
            <div class="row">
                <div class="col-sm-12">
                    <label class="control-label">{{"Date"|translate}}*</label>
                </div>
                <div class="col-sm-4">
                    <select class="form-control" ng-options="item.date for item in view.exchangeRates|orderBy:'-date'"
                            ng-model="selectedDateView"></select>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="tbl-wrap">
                        <table class="table table-striped table-hover table-responsive">
                        <thead>
                        <tr>
                            <th>{{"Symbol 1"|translate}}</th>
                            <th>{{"Symbol 2"|translate}}</th>
                            <th>{{"Rate"|translate}}</th>
                            <th>{{'Edit'|translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="entity in selectedDateView.exchangeRates | orderBy: ['symbol1']">
                            <td style="vertical-align: middle">{{entity.symbol1}}</td>
                            <td style="vertical-align: middle">{{entity.symbol2}}</td>
                            <td style="vertical-align: middle">{{entity.rate}}</td>
                            <td>
                                <button type="button" class="btn btn-primary" ng-click="edit(entity)">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="3">
                                <button type="button" class="btn btn-success"
                                        ng-click="create()">
                                    <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
