<div ng-controller="Mt4GroupsController">
    <div class="panel panel-info">
        <div class="panel-heading"><h4 class="heading">{{'MT4 Groups'|translate}}</h4></div>

        <div class="panel-body">
            <div class="row">
                <div class="pagi-wrap">
                    <div class="col-sm-12" ng-show="pageParams.totalItems>pageParams.itemsPerPage">
                        <ul uib-pagination total-items="pageParams.totalItems" ng-model="pageParams.currentPage"
                            items-per-page="pageParams.itemsPerPage" max-size="pageParams.maxSize"
                            class="pagination-sm" boundary-links="true" ng-change="pageChanged()"
                            first-text="<<" last-text=">>" next-text="NEXT >" previous-text="< PREV">
                        </ul>
                    </div>
                </div>

                <div class="col-sm-12">
                    <table class="table table-striped table-hover table-responsive">
                        <thead>
                        <tr>
                            <th><a href="" ng-click="predicate='name'; reverse=!reverse">{{"Name"|translate}}</a></th>
                            <th><a href="" ng-click="predicate='currency'; reverse=!reverse">{{"Currency"|translate}}</a></th>
                            <th><a href="" ng-click="predicate='mt4Server.mt4ServerType'; reverse=!reverse">{{"Server Type"|translate}}</a></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="entity in entities">
                            <td style="vertical-align: middle">{{entity.name}}</td>
                            <td style="vertical-align: middle">{{entity.currency}}</td>
                            <td style="vertical-align: middle">{{entity.mt4Server.mt4ServerType}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="pagi-wrap">
                    <div class="col-sm-12" ng-show="pageParams.totalItems>pageParams.itemsPerPage">
                        <ul uib-pagination total-items="pageParams.totalItems" ng-model="pageParams.currentPage"
                            items-per-page="pageParams.itemsPerPage" max-size="pageParams.maxSize"
                            class="pagination-sm" boundary-links="true" ng-change="pageChanged()"
                            first-text="<<" last-text=">>" next-text="NEXT >" previous-text="< PREV">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
