<div ng-controller="ScheduledEventController">
    <div class="panel panel-info">
        <div class="panel-heading text-center">
            <strong class="heading" ng-if="entity.id">{{entity.name}}</strong>
            <strong class="heading" ng-if="!entity.id">{{"New Scheduled Event"|translate}}</strong>
        </div>
        <div class="panel-body">
            <form novalidate role="form" name="editForm" ng-submit="save()">
                <div class="row form-group" ng-class="{'has-error': editForm.label.$invalid && editForm.label.$dirty}">
                    <div class="col-sm-2">
                        <label class="control-label" for="label">{{"Name"|translate}}*</label>
                    </div>
                    <div class="col-sm-4">
                        <input id="label" name="label" class="form-control" ng-model="entity.name" ng-trim="true" required/>
                    </div>
                </div>

                <div class="row form-group" ng-class="{'has-error': editForm.startDate.$invalid && editForm.startDate.$dirty}">
                    <div class="col-sm-2">
                        <label class="control-label" for="startDate">{{"Start Date"|translate}}*</label>
                    </div>
                    <div class="col-sm-4">
                        <input id="startDate" name="startDate" type="datetime-local" class="form-control"
                               ng-model="entity.startDate" ng-required="true" />
                    </div>
                </div>

                <div class="row form-group" ng-class="{'has-error': editForm.endDate.$invalid && editForm.endDate.$dirty}">
                    <div class="col-sm-2">
                        <label class="control-label" for="endDate">{{"End Date"|translate}}*</label>
                    </div>
                    <div class="col-sm-4">
                        <input id="endDate" name="endDate" type="datetime-local" class="form-control"
                               ng-model="entity.endDate" ng-required="true" />
                    </div>
                </div>

                <div solar-crud-buttons ng-init="cancelable=true"></div>
            </form>
        </div>
    </div>
</div>
