<div ng-controller="SymbolVolumeMapsController">
    <div class="panel panel-info">
        <div class="panel-heading text-center"><strong class="heading">{{'Volume Definition'|translate}}</strong></div>
        <table class="table table-striped table-hover table-responsive">
            <thead>
            <tr>
                <th>{{"Name"|translate}}</th>
                <th>{{"Ratio"|translate}}</th>
                <th>{{'Edit'|translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entity in entities | orderBy: ['symbol']">
                <td style="vertical-align: middle">{{entity.symbol}}</td>
                <td style="vertical-align: middle">{{entity.volumeRatio|number}}</td>
                <td>
                    <button type="button" class="btn btn-primary" ng-click="edit(entity)">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3">
                    <button type="button" class="btn btn-success"
                            ng-click="create()">
                        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
