<div ng-controller="UserAdminController">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="heading" ng-if="user.id">{{user.label}}</h4>
            <h4 class="heading" ng-if="!user.id">{{"New Broker Login"|translate}}</h4>
        </div>
        <div class="panel-body">
            <form novalidate role="form" name="editForm" ng-submit="save()">
                <uib-tabset justified="true" class="sml-tab">
                    <uib-tab heading='{{"Basic"|translate}}'>
                        <p class="spacer"></p>
                        <ng-include src="'app/user/admin/user-basic.html'"></ng-include>
                    </uib-tab>
                    <uib-tab heading='{{"Roles"|translate}}'>
                        <p class="spacer"></p>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="tbl-wrap">
                                <table class="table table-striped table-hover table-responsive">
                                    <thead>
                                    <tr>
                                        <th style="width: 10px"></th>
                                        <th>{{"Role"|translate}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="role in roles|orderBy:'role.label'">
                                        <td><input type="checkbox" ng-model="role.selected"></td>
                                        <td>{{role.role.label}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading='{{"Work Group Permission"|translate}}' ng-if="workGroups && workGroups.length">
                        <p class="spacer"></p>
                        <ng-include src="'app/user/admin/user-work-group-permission.html'"></ng-include>
                    </uib-tab>
                    <uib-tab heading='{{"Login History"|translate}}' ng-show="user.id && userLogs.length">
                        <p class="spacer"></p>
                        <ng-include src="'app/user/admin/user-history.html'"></ng-include>
                    </uib-tab>
                </uib-tabset>

                <div solar-crud-buttons ng-init="cancelable=true"></div>
            </form>
        </div>
    </div>
</div>