<div ng-controller="WorkGroupAdminController">
    <div class="panel panel-info">
        <div class="panel-heading text-center">
            <h4 class="heading" ng-if="entity.id">{{entity.name}}</h4>
            <h4 class="heading" ng-if="!entity.id">{{"New Work Group"|translate}}</h4>
        </div>
        <div class="panel-body">
            <form novalidate role="form" name="editForm" ng-submit="save()">
                <div class="spc-frm-bg" style="margin-top: -30px">
                    <div class="row form-group">
                        <div class="col-sm-4" ng-class="{'has-error': editForm.name.$invalid && editForm.name.$dirty}">
                            <label class="name" for="name">{{"Name"|translate}}*</label>
                            <input id="name" name="name" class="form-control" ng-model="entity.name" ng-trim="true" required/>
                        </div>
                        <div class="col-sm-4" ng-class="{'has-error': editForm.mt4Login.$invalid && editForm.mt4Login.$dirty}">
                            <label class="mt4Login" for="mt4Login">{{"MT4 Login"|translate}}</label>
                            <input id="mt4Login" name="mt4Login" class="form-control" ng-model="entity.mt4Account" ng-trim="true" only-digits/>
                        </div>
                        <div class="col-sm-4" ng-class="{'has-error': editForm.category.$invalid && editForm.category.$dirty}">
                            <label class="control-label" for="category">{{"Category"|translate}}*</label>
                            <select class="category" id="category" required
                                    ng-options="k.label as k.label for k in workGroupCategories" ng-model="entity.workGroupCategory">
                            </select>
                        </div>
                    </div>

                    <div class="row form-group" ng-class="{'has-error': editForm.notes.$invalid && editForm.notes.$dirty}">
                        <div class="col-sm-12">
                            <label class="name" for="name">{{"Conditions"|translate}}</label>
                            <textarea id="notes" name="notes" class="form-control" rows="5" ng-model="entity.notes" ng-trim="true"></textarea>
                        </div>
                    </div>

                    <div class="row form-group" ng-if="workGroups && workGroups.length" ng-class="{'has-error': editForm.parentWorkGroup.$invalid && editForm.parentWorkGroup.$dirty}">
                        <div class="col-sm-12">
                            <label class="control-label" for="parentWorkGroup">{{"Parent"|translate}}</label>
                            <select class="form-control" id="parentWorkGroup"
                                    ng-options="k.name for k in workGroups" ng-model="entity.parentWorkGroup">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div solar-crud-buttons ng-init="cancelable=true"></div>
            </form>
        </div>
    </div>
</div>