<div ng-controller="HomeScreenFollowUpsController">
    <div class="panel panel-primary">
        <div class="panel-heading"><h4 class="panel-title">{{"Assigned to me"|translate}}</h4></div>
        <div class="panel-body">
            <table class="table table-striped table-hover table-responsive">
                <thead>
                <tr>
                    <th>{{"Date"|translate}}</th>
                    <th><span class="hidden-xs">{{"Assigned By"|translate}}</span></th>
                    <th>{{"Due"|translate}}</th>
                    <th>{{"Read"|translate}}</th>
                    <th><span class="hidden-xs">{{"Client/Team"|translate}}</span></th>
                    <th>{{"View"|translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="entity in followUpsAssignedToUser | orderBy:['dueDate','-id']">
                    <td style="vertical-align: middle">{{entity.created|formattedTime}}</td>
                    <td style="vertical-align: middle"><span class="hidden-xs">{{entity.createdBy.label}}</span></td>
                    <td style="vertical-align: middle">{{entity.dueDate|formattedDate}}</td>
                    <td style="vertical-align: middle">
                        <span class="text-success glyphicon glyphicon-ok" ng-if="entity.acknowledged"></span>
                        <span class="text-danger glyphicon glyphicon-remove" ng-if="!entity.acknowledged"></span>
                    </td>
                    <td style="vertical-align: middle">
                        <span class="hidden-xs">
                            <span ng-if="entity.work.workLink.client">
                                <a ng-href="#!{{'/user/client/' + entity.work.workLink.client.id + '/home'}}">{{entity.work.workLink.client.label}}</a>
                            </span>
                            <span ng-if="entity.work.workLink.team">
                                <a ng-href="#!{{'/user/team/' + entity.work.workLink.team.id + '/home'}}">{{entity.work.workLink.team.name}}</a>
                            </span>
                        </span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" ng-click="view(entity)">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
                <tfoot ng-if="!followUpsAssignedToUser.length">
                <tr>
                    <td colspan="6" class="text-muted">
                        {{"You don't have any follow ups."|translate}}
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="panel panel-primary" ng-if="followUpsAssignedByUser && followUpsAssignedByUser.length">
        <div class="panel-heading"><h4 class="panel-title">{{"Assigned by me"|translate}}</h4></div>
        <div class="panel-body">
            <table class="table table-striped table-hover table-responsive">
                <thead>
                <tr>
                    <th>{{"Date"|translate}}</th>
                    <th><span class="hidden-xs">{{"Assignee"|translate}}</span></th>
                    <th>{{"Due"|translate}}</th>
                    <th>{{"Read"|translate}}</th>
                    <th><span class="hidden-xs">{{"Client/Team"|translate}}</span></th>
                    <th>{{"View"|translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="entity in followUpsAssignedByUser | orderBy:['dueDate','-id']">
                    <td style="vertical-align: middle">{{entity.created|formattedTime}}</td>
                    <td style="vertical-align: middle"><span class="hidden-xs">{{entity.assignee.label}}</span></td>
                    <td style="vertical-align: middle">{{entity.dueDate|formattedDate}}</td>
                    <td style="vertical-align: middle">
                        <span class="text-success glyphicon glyphicon-ok" ng-if="entity.acknowledged"></span>
                        <span class="text-danger glyphicon glyphicon-remove" ng-if="!entity.acknowledged"></span>
                    </td>
                    <td style="vertical-align: middle">
                        <span class="hidden-xs">
                            <span ng-if="entity.work.workLink.client">
                                <a ng-href="#!{{'/user/client/' + entity.work.workLink.client.id + '/home'}}">{{entity.work.workLink.client.label}}</a>
                            </span>
                            <span ng-if="entity.work.workLink.team">
                                <a ng-href="#!{{'/user/team/' + entity.work.workLink.team.id + '/home'}}">{{entity.work.workLink.team.name}}</a>
                            </span>
                        </span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" ng-click="view(entity)">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
