<div ng-controller="ClientLeverageUpdateProfileController">
    <div class="row spacer-bottom">
        <div class="col-sm-3">
            <label>{{"MT4 Server"|translate}}</label>
        </div>
        <div class="col-sm-9">
            <span>{{view.leverageUpdateProfile.mt4Server.mt4ServerType}}</span>
        </div>
    </div>

    <div class="row spacer-bottom">
        <div class="col-sm-3">
            <label>{{"Account"|translate}}</label>
        </div>
        <div class="col-sm-9">
            <span>{{view.leverageUpdateProfile.login}}</span>
        </div>
    </div>

    <div class="row spacer-bottom" ng-if="view.leverageUpdateProfile.leverageFrom">
        <div class="col-sm-3">
            <label>{{"Leverage"|translate}}</label>
        </div>
        <div class="col-sm-9">
            <span>{{view.leverageUpdateProfile.leverageFrom}}</span>
        </div>
    </div>

    <div class="row spacer-bottom">
        <div class="col-sm-3">
            <label class="text-success">{{"New Leverage"|translate}}</label>
        </div>
        <div class="col-sm-9">
            <strong class="text-success">{{view.leverageUpdateProfile.leverageTo}}</strong>
        </div>
    </div>

    <div class="row spacer-bottom" ng-if="view.leverageUpdateProfile.confirmed">
        <div class="col-sm-3">
            <label class="text-success">{{"Processed"|translate}}</label>
        </div>
        <div class="col-sm-9">
            <strong class="text-success">{{view.leverageUpdateProfile.confirmed|formattedDate}}</strong>
        </div>
    </div>

    <div class="row" ng-if="!view.leverageUpdateProfile.confirmed">
        <div class="col-sm-12 text-center">
            <button class="btn btn-primary" ng-click="save()">
                {{'Confirm and Process'|translate}} <span class="glyphicon glyphicon-ok"></span>
            </button>
        </div>
    </div>
</div>