<div class="row spacer-bottom">
    <div class="col-sm-3">
        <label>{{"MT4 Server"|translate}}</label>
    </div>
    <div class="col-sm-6">
        <span>{{view.newAccountProfile.mt4Server.mt4ServerType}}</span>
    </div>
</div>

<div class="row spacer-bottom">
    <div class="col-sm-3">
        <label>{{"Trading Platform"|translate}}</label>
    </div>
    <div class="col-sm-6">
        <span>{{view.newAccountProfile.tradingPlatform}}</span>
    </div>
</div>

<div class="row spacer-bottom">
    <div class="col-sm-3">
        <label>{{"Currency Type"|translate}}</label>
    </div>
    <div class="col-sm-6">
        <span>{{view.newAccountProfile.currencyType}}</span>
    </div>
</div>

<div class="row spacer-bottom">
    <div class="col-sm-3">
        <label>{{"Leverage"|translate}}</label>
    </div>
    <div class="col-sm-6">
        <span>{{view.newAccountProfile.leverage|number}}</span>
    </div>
</div>

<div ng-if="view.newAccountProfile.mt4Server.mt4ServerType=='Demo Server'">
    <div class="row spacer-bottom">
        <div class="col-sm-3">
            <label>{{"Account Type"|translate}}</label>
        </div>
        <div class="col-sm-6">
            <span>{{view.newAccountProfile.demoAccountType}}</span>
        </div>
    </div>

    <div class="row spacer-bottom">
        <div class="col-sm-3">
            <label>{{"Deposit Amount"|translate}}</label>
        </div>
        <div class="col-sm-6">
            <span>{{view.newAccountProfile.demoDepositAmount|currency}}</span>
        </div>
    </div>
</div>

<div ng-if="view.newAccountProfile.mt4Server.mt4ServerType=='Trading Server'">
    <div class="row spacer-bottom">
        <div class="col-sm-3">
            <label>{{"Account Type"|translate}}</label>
        </div>
        <div class="col-sm-6">
            <span>{{view.newAccountProfile.tradingAccountType}}</span>
        </div>
    </div>

    <div class="row spacer-bottom">
        <div class="col-sm-3">
            <label>{{"Broker Type"|translate}}</label>
        </div>
        <div class="col-sm-6">
            <span>{{view.newAccountProfile.brokerType}}</span>
        </div>
    </div>

    <div class="row spacer-bottom" ng-if="view.newAccountProfile.brokerType=='New Introducing Broker'">
        <div class="col-sm-3">
            <label>{{"Broker Name"|translate}}</label>
        </div>
        <div class="col-sm-6">
            <span>{{view.newAccountProfile.brokerName}}</span>
        </div>
    </div>
</div>

<div class="row spacer-bottom" ng-if="view.newAccountProfile.comment">
    <div class="col-sm-3">
        <label>{{"Comment"|translate}}</label>
    </div>
    <div class="col-sm-6">
        <pre class="pre-text">{{view.newAccountProfile.comment}}</pre>
    </div>
</div>