<div ng-controller="ClientNewAccountController">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="heading" ng-if="entity.demoAccount">{{'New Demo Account'|translate}}</h4>
            <h4 class="heading" ng-if="!entity.demoAccount">{{'New Trading Account'|translate}}</h4>
        </div>
        <div class="panel-body">
            <form novalidate role="form" name="editForm" ng-submit="create()">
                <div class="row form-group" ng-class="{'has-error': editForm.platform.$invalid && editForm.platform.$dirty}">
                    <div class="col-sm-3">
                        <label class="control-label" for="platform">{{"Platform"|translate}}*</label>
                    </div>
                    <div class="col-sm-9">
                        <select id="platform" name="platform" class="form-control" ng-model="entity.tradingPlatform" required
                                ng-disabled="view.tradingPlatforms && view.tradingPlatforms.length==1"
                                ng-options="option.label as option.label for option in view.tradingPlatforms">
                        </select>
                    </div>
                </div>

                <div class="row form-group" ng-class="{'has-error': editForm.leverage.$invalid && editForm.leverage.$dirty}">
                    <div class="col-sm-3">
                        <label class="control-label" for="leverage">{{"Leverage"|translate}}*</label>
                    </div>
                    <div class="col-sm-9">
                        <select id="leverage" name="leverage" class="form-control" ng-model="entity.leverage" required
                                ng-options="option.label as option.label for option in view.leverages">
                        </select>
                    </div>
                </div>

                <div class="row form-group" ng-class="{'has-error': editForm.currency.$invalid && editForm.currency.$dirty}">
                    <div class="col-sm-3">
                        <label class="control-label" for="currency">{{"Currency"|translate}}*</label>
                    </div>
                    <div class="col-sm-9">
                        <select id="currency" name="currency" class="form-control" ng-model="entity.currencyType" required
                                ng-options="option.label as option.label for option in view.currencyTypes">
                        </select>
                    </div>
                </div>

                <ng-include src="'app/client/account/new-trading-account.html'" ng-if="!entity.demoAccount"></ng-include>
                <ng-include src="'app/client/account/new-demo-account.html'" ng-if="entity.demoAccount"></ng-include>

                <div class="row text-center">
                    <button type="button" class="btn btn-warning" ng-click="cancel()"><span
                            class="glyphicon glyphicon-arrow-left"></span> Cancel
                    </button>

                    <button type="submit" class="btn btn-primary" ng-disabled="editForm.$invalid">{{"Submit"|translate}} <span
                            class="glyphicon glyphicon-ok"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
