<div ng-controller="RewardEventController">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="heading" ng-if="entity.id">{{entity.name}}</h4>
            <h4 class="heading" ng-if="!entity.id">{{"New Reward Event"|translate}}</h4>
        </div>
        <div class="panel-body">
            <form novalidate role="form" name="editForm" ng-submit="save()">
                <div class="row form-group" ng-class="{'has-error': editForm.label.$invalid && editForm.label.$dirty}">
                    <div class="col-sm-2">
                        <label class="control-label" for="label">{{"Name"|translate}}*</label>
                    </div>
                    <div class="col-sm-10">
                        <input id="label" name="label" class="form-control" ng-model="entity.name" ng-trim="true" required/>
                    </div>
                </div>

                <div class="row" ng-class="{'has-error': editForm.startDate.$invalid && editForm.startDate.$dirty}">
                    <div class="col-sm-2">
                        <label class="control-label" for="startDate">{{"Start Date"|translate}}*</label>
                    </div>
                    <div class="col-sm-10">
                        <p class="input-group">
                            <input id="startDate" name="startDate" type="text" class="form-control" uib-datepicker-popup
                                   ng-model="entity.startDate" is-open="startDate.opened" datepicker-options="dateOptions" ng-required="true" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="startDate.opened=true"><img src="../../../images/icon-calender-sml.png" /></button>
                            </span>
                        </p>
                    </div>
                </div>

                <div class="row" ng-class="{'has-error': editForm.endDate.$invalid && editForm.endDate.$dirty}">
                    <div class="col-sm-2">
                        <label class="control-label" for="endDate">{{"End Date"|translate}}*</label>
                    </div>
                    <div class="col-sm-10">
                        <p class="input-group">
                            <input id="endDate" name="endDate" type="text" class="form-control" uib-datepicker-popup
                                   ng-model="entity.endDate" is-open="endDate.opened" datepicker-options="dateOptions" ng-required="true" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="endDate.opened=true"><img src="../../../images/icon-calender-sml.png" /></button>
                            </span>
                        </p>
                    </div>
                </div>

                <div solar-crud-buttons ng-init="cancelable=true"></div>
            </form>
        </div>
    </div>
</div>
