<div ng-controller="CommonProfileController">
    <div class="panel panel-info">
        <div class="panel-heading text-center">
            <h4 class="heading">{{"My Profile"|translate}}</h4>
        </div>
        <div class="panel-body">
            <form novalidate role="form" name="editForm" ng-submit="save()">
                <div class="spc-frm-bg" style="margin-top: -30px">
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label for="email">{{"Email"|translate}}</label>
                            <input id="email" name="email" type="email" class="form-control" minlength="6"
                                   ng-model="entity.email" ng-trim="true" required/>
                        </div>
                        <div class="col-sm-4" ng-class="{'has-error': editForm.phone.$invalid && editForm.phone.$dirty}">
                            <label class="control-label" for="phone">{{"Phone"|translate}}</label>
                            <input id="phone" name="phone" class="form-control" ng-model="entity.contact.contactPh"
                                   ng-trim="true" ng-pattern="'(\\+)?\\d+'"/>
                        </div>
                        <div class="col-sm-4" ng-class="{'has-error': editForm.mobile.$invalid && editForm.mobile.$dirty}">
                            <label class="control-label" for="mobile">{{"Mobile"|translate}}</label>
                            <input id="mobile" name="mobile" class="form-control" ng-model="entity.contact.mobilePh"
                                   ng-trim="true" ng-pattern="'(\\+)?\\d+'"/>
                        </div>
                    </div>
                </div>
                <div class="spc-frm-bg">
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label>{{"Surname"|translate}} :</label>
                            {{entity.contact.lastName}}
                        </div>
                        <div class="col-sm-4">
                            <label>{{"First Name"|translate}} :</label>
                            {{entity.contact.firstName}}
                        </div>
                        <div class="col-sm-4">
                            <label>{{"Middle Name"|translate}} :</label>
                            {{entity.contact.middleName}}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <label>{{"Address"|translate}} :</label>
                            {{entity.contact.address}}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <label>{{"City"|translate}} :</label>
                            {{entity.contact.city}}
                        </div>
                        <div class="col-sm-6">
                            <label>{{"State/Province"|translate}} :</label>
                            {{entity.contact.state}}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <label>{{"Country"|translate}} :</label>
                            {{entity.contact.country}}
                        </div>
                        <div class="col-sm-6">
                            <label>{{"Postcode"|translate}} :</label>
                            {{entity.contact.postcode}}
                        </div>
                    </div>
                </div>
                <div solar-crud-buttons></div>
            </form>
        </div>
    </div>
</div>
